<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-6">
        <app-progresso></app-progresso>
      </div>
      <div class="col-sm-6">
        <div class="col d-flex justify-content-end">
          <app-tentativas></app-tentativas>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h6>{{ instruction }}</h6>
        <p>{{roundPhrase.phraseEng}}</p>
        <div class="form-group">
          <textarea id="exampleTextarea" 
          rows="3" 
          (input)="updateAnswer($event)" 
          class="form-control"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-end">
        <button class="btn btn-primary" (click)="verifyAnswer()">Verificar</button>
      </div>
    </div>
  </div>
</div>
